@media (min-width: 768px) {

  .navbar-collapse {
    position: static;
    padding-top: 10px;
    font-size: 16px;
    background: transparent;
    box-shadow: none;
  }

  .navbar-nav {
    .nav-item {
      margin-right: 16px;

      .nav-link {
        padding: 0;
      }
    }

    .nav-item.active {
      .nav-link {
        border-bottom: 1px solid #fff;
      }
    }

    .nav-item.active.nav-item-lang {
      .nav-link {
        border-bottom: none;
      }
    }
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {


  .navbar-brand {
    img {
      width: 257px;
      height: 92px;
    }
  }

  .navbar-nav {
    .nav-item {
      margin-right: 41px;
    }
  }
}

@media (min-width: 1400px) {
  .navbar {
    .container.container-custom {
      max-width: 1400px;
    }
  }
}

@media (min-width: 1600px) {
  .navbar {
    .container.container-custom {
      max-width: 1600px;
    }
  }
}

