@import "vars";
@import "fonts";
@import "libs";

body {
  position: relative;
  font-family: Gilroy;
  font-size: 16px;
}

header {
  color: #ffffff;
  height: 100vh;
  background: linear-gradient(156.33deg, #495877 16.34%, #101F3F 85.9%);
  box-shadow: 0px 10px 15px rgba(75, 86, 110, 0.09), 0px 7px 25px rgba(75, 86, 110, 0.11), 0px 5px 25px rgba(75, 86, 110, 0.15);
}

.layer-overlay {
  display: flex;
  height: 100vh;
  background: linear-gradient(156.33deg, rgba(73, 88, 119, 0.5) 16.34%, rgba(16, 31, 63, 0.5) 85.9%);
  box-shadow: 0px 10px 15px rgba(75, 86, 110, 0.03), 0px 7px 25px rgba(75, 86, 110, 0.03), 0px 5px 25px rgba(75, 86, 110, 0.07);
  border-radius: 6px;
}

.navbar.fixed {
  .navbar-nav .nav-link {
    color: #4B566E;
  }
}

.navbar-brand {
  z-index: 1;

  img {
    width: 142px;
    height: 54px;
  }
}

.navbar-toggler {
  border: none;
  z-index: 1;
}

.navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 14px;
  font-size: 18px;
  background: linear-gradient(149.93deg, #101F3F -13.43%, #495877 136.82%);
  box-shadow: 0px 10px 15px rgba(75, 86, 110, 0.09), 0px 7px 25px rgba(75, 86, 110, 0.11), 0px 5px 25px rgba(75, 86, 110, 0.15);
}


.navbar-nav {
  padding-top: 10px;

  .nav-item {
    margin: 0;
    padding: 0;
    padding-bottom: 13px;
  }

  .nav-link {
    padding: 0;
    text-align: center;
  }
}

.navbar-nav-lang {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  padding-left: 7%;
  list-style: none;
  text-align: center;

  .nav-item {
    margin-right: 27px;
    display: inline-block;

    .nav-link {
      padding: 0;
      font-size: 16px;
      color: rgba(255, 255, 255, .5);
    }
  }

  .nav-item.active {
    .nav-link {
      color: #fff;
    }

    .nav-link:last-child {
      margin-bottom: 14px;
    }
  }
}

.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.header-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-self: center;
  padding: 0 40px;
  text-align: center;

  h1 {
    font-size: 30px;
    font-weight: 900;
  }

  p {
    font-size: 20px;
  }
}

.aboutus {
  padding-top: 34px;

  .aboutus-text {
    h3 {
      font-size: 24px;
      font-weight: 600;
    }
  }

  .aboutus-question {
    font-weight: 600;
    margin-bottom: 8px;
  }

  .card {
    position: relative;
    border: none;
    margin-bottom: 79px;

    .number {
      position: absolute;
      top: -54px;
      right: 10px;
      color: rgba(75, 86, 110, 0.1);
      font-size: 150px;
      font-weight: 300;
    }
  }

  .card-title {
    padding-right: 55px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .card-body {
    padding-right: 55px;
    padding-left: 0;
  }

  .card-image-bottom {
    width: 100%;
    height: 330px;
    filter: drop-shadow(0px 10px 15px rgba(75, 86, 110, 0.06));
    filter: drop-shadow(0px 7px 25px rgba(75, 86, 110, 0.06));
    filter: drop-shadow(0px 5px 25px rgba(75, 86, 110, 0.1));;
    border-radius: 12px;
  }
}

.section-title {
  color: #4B566E;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px;
}

.ourprojects {
  margin-bottom: 85px;

  .ourprojects-text {
    color: #4B566E;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
  }

  .ourprojects-info {
    font-size: 20px;
  }

  .col-md-8 {
    position: relative;
  }

  .triangle {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #fff;
    transform: translate(-50%, 0);
  }

  .triangle__horizontal {
    position: absolute;
    top: 50%;
    left: -29px;
    width: 0;
    height: 0;    
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid #fff;
    transform: translate(0, -50%);
  }

  .card {
    font-size: 20px;
    box-shadow: 0px 10px 15px rgba(75, 86, 110, 0.06), 0px 7px 25px rgba(75, 86, 110, 0.06), 0px 5px 25px rgba(75, 86, 110, 0.1);
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 32px;
  }

  .card-image-top {
    border-radius: 6px;
    margin-bottom: 2px;
  }

  .card-body {
    position: relative;    
    font-size: 20px;
    color: #000;
  }

  .card-title {
    color: #4B566E;
    font-weight: 600;
  }

  .card-subtitle {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .cards-container {
    .flex-column {
      margin: 0 30px;
    }
    .card-empty {
      flex-grow: 1;
    }
  }
  
  .btn-show {
    padding: 13px 0;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 10px 29px rgba(75, 86, 110, 0.1), 0px 7px 55px rgba(75, 86, 110, 0.06), 1px 5px 38px rgba(75, 86, 110, 0.06);
    border-radius: 6px;
    margin-bottom: 32px;
  }
}

.partners {
  padding-bottom: 170px;
  .section-title {
    text-align: center;
  }

  .owl-carousel {
    box-shadow: 0px 10px 29px rgba(75, 86, 110, 0.03), 0px 7px 55px rgba(75, 86, 110, 0.03), 1px 5px 38px rgba(75, 86, 110, 0.07);
    border-radius: 6px;
  }

  .mycarousel-item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 251px;
    height: 251px;    

    img {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }  
}

.contactus {
  box-shadow: 0px 10px 15px rgba(75, 86, 110, 0.06), 0px 7px 25px rgba(75, 86, 110, 0.06), 0px 5px 25px rgba(75, 86, 110, 0.1);
  .col-12, .col-md-5, .col-md-7 {
    padding: 0;
  }

  .contacts {
    color: #3B404A;
    padding: 30px;
    padding-top: 123px;
    
    .contacts-text {
      color: #000;
      font-size: 24px;
      font-weight: 700;      
    }

    .fas, .far {
      margin-right: 10px;
      font-family: "Font Awesome 5 Free";      
      font-size: 30px;
    }
  }

  .contactus-form {
    position: relative;
    padding: 30px;
    padding-top: 123px;
    background: linear-gradient(315.53deg, #0F1E3E 21.35%, rgba(25, 47, 98, 0.6) 131.99%);

    .triangle__horizontal {
      position: absolute;
      top: 20%;
      left: -28px;
      width: 0;
      height: 0;    
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 30px solid #4E5C7B;
      transform: translate(0, -50%);
    }

    .col-lg-6 {
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  .form-text {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  .form-control {
    margin-bottom: 25px; 
  }

  .form-control.required:invalid {          
    background-color: #FFB8B8;

    &::placeholder {
      color: #E35D5D;
    }
  }

  .btn-send {
    padding: 13px 0;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    box-shadow: 0px 10px 29px rgba(75, 86, 110, 0.1), 0px 7px 55px rgba(75, 86, 110, 0.06), 1px 5px 38px rgba(75, 86, 110, 0.06);
    border-radius: 6px;
    margin-bottom: 58px;
  }

  .contacts-mobile {
    color: #A5B2CE;
    padding-left: 10px;

    .fas, .far {
      margin-right: 10px;
      font-family: "Font Awesome 5 Free";      
      font-size: 30px;
    }
  }

  .contacts-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .contacts-info {    
    font-size: 20px;
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: 170px;
    }
  }
}

footer {  
  position: absolute;
  bottom: 0px;
  color: #A5B2CE;
  padding: 30px 0;
  background-color: transparent;
  z-index: 5;

  .col-12 {
    text-align: center;
  }
}

@import "media";